.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.create-textile {
    background-color: #f5f3f4;
    position: relative;
    padding-top: 20px;
}

.create-textile__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-weight: 400;
}

form input,
form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form {
    margin-top: 50px;
    padding: 30px 20px;
    width: auto;
    min-width: 1200px;
    box-sizing: border-box;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
    min-height: 20px;
    font-weight: bold;
}

form input[type="file"],
form input[type="time"],
form input[type="date"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}
form input[type="text"] {
    width: 100%;
    padding: 18px 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* border: 1px solid #888; */
}
input:focus {
    outline: 1px solid crimson;
}

.textile-textarea {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 18px 16px;
    color: #313131;
    resize: none;
    transition: all 0.3s;
    width: 100%;
}

textarea:focus {
    outline: 1px solid crimson;
}

.textarea__wrapper {
    display: flex;
    flex-direction: column;
}
.textarea__box {
    flex: 1;
}

.create-textile__form-button {
    padding: 16px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: crimson;
    border-radius: 6px;
}

.create-textile__form-button:hover {
    background: #dd294d;
    transition: ease 0.1s;
}

.form__alert {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .form-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }

    form {
        padding: 15px;
        min-width: 400px !important;
    }
    form label {
        font-size: 14px;
    }

    .create-textile__title {
        font-size: 24px;
    }
    .create-textile__form-button {
        padding: 16px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: #df0144;
        border-radius: 6px;
        width: 100%;
    }
    .textarea__box,
    .textarea__wrapper {
        flex-direction: column;
    }
    .textile-textarea {
        height: auto;
        min-height: 100px;
    }

    .create-textile__title {
        font-size: 24px;
        text-align: center;
    }

    .form__alert {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
