.search-bar {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    /* margin-top: 100px; */
    background-color: #f5f3f4;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 800px; /* This should match the search input width */
    margin: 100px auto 0 auto;
}

.search-bar__title p {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #313131;
    margin-bottom: 20px;
}

/* .advanced__search-container {
    background-color: #f5f3f4;
    padding: 60px 150px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.advanced__search-container.open {
    max-height: 500px;
} */

/* //test */

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
}

.advanced__search {
    width: 800px; /* This should match the search input width */
    margin: 0 auto;
}
.advanced__search-container {
    background-color: #f5f3f4;
    padding: 60px;
    visibility: hidden; /* Default state is not visible */
    opacity: 0;
    transform: translateY(-100%); /* Start above its final position */
    width: 800px; /* This should match the search bar width */
    margin: 0 auto;
}

.advanced__search-container.open {
    animation: slideDown 0.5s forwards; /* Use forwards to keep the last keyframe style */
}

.advanced__search-container.closing {
    animation: slideUp 0.5s forwards; /* Use forwards to keep the last keyframe style */
}

/* //test */

.advanced__search-form {
    display: flex;
    flex-direction: column;
}

.advanced__search-form__group1 {
    display: flex;
    flex-direction: column;
}

.advanced__search-form__group1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.advanced__search-form__group2 {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.advanced__search-form__group1-container label {
    align-self: flex-start;
    padding: 0px 0px 6px 6px;
}
.advanced__search-form__group2-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.advanced__search-form__group2-container label {
    align-self: flex-start;
    padding: 0px 0px 6px 6px;
}

/* Style the form */
.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Style the input fields */

.search-input {
    padding: 16px 20px;
    width: 500px;
    border: 1px solid #ccc; /* Light grey border */
    font-size: 16px; /* Larger font size for better readability */
    box-sizing: border-box;
}
.advanced__input {
    padding: 16px 20px;
    width: calc(100% - 8px);
    border: 1px solid #ccc; /* Light grey border */
    font-size: 16px; /* Larger font size for better readability */
    box-sizing: border-box;
    margin: 0 4px;
}
.advanced__input-date {
    padding: 16px 20px;
    width: calc(100% - 8px);
    border: 1px solid #ccc; /* Light grey border */
    font-size: 16px; /* Larger font size for better readability */
    box-sizing: border-box;
    margin: 0 4px;
}

input[type="text"]:focus,
input[type="string"]:focus {
    outline: none;
    border-color: rgba(223, 1, 68, 0.3); /* Highlight color when focused */
}

/* Style the submit button */
button[type="submit"] {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0px 30px;
    background-color: #df0144;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Match input text size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
    background-color: #dd294d;
}

/* //advanced inputs */

.advanced__btn-wrapper {
    align-self: flex-start;
    margin-left: 20px;
}
.advanced__btn {
    padding: 10px 16px;
    background-color: #df0144;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px; /* Match input text size */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon.true {
    transform: rotate(180deg);
    transition: ease-in-out 0.2s;
}
