.HomeEmailSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    background-color: #f3f5f4;
}

.email__title {
    font-size: 3rem !important;
}
.email__subtitle {
    margin: 20px 0 40px 0 !important;
}
