.home__collection {
    background-color: #f5f3f4;
}

.home__collection-masonry {
    display: flex;
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
    height: 100%;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

.home__collection-item {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
    position: relative;
}

.home__collection-item img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: block;
}
.home__collection-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 1s;
}

.home__collection-item-desc {
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.home__collection-item:hover .home__collection-overlay {
    opacity: 0.9;
}

.home__collection-item:hover .home__collection-item-desc {
    opacity: 1;
}

.home__collection-item-desc h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.home__collection-item-desc h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.home__collection-item-desc h3:hover {
    color: #eae0e0fa;
    transition: ease-in-out 0.2s;
}
