.events-dashboard {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.event-dashboard__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.form-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.form-exit {
    opacity: 1;
    transform: translateY(0);
}
.form-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}
