.events-dashboard {
    background-color: #f5f3f4;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-dashboard__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
