.tab__details-container h1 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    margin: 10px 0 30px 0;
}
.tab__details-container ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;
}

.tab__details-container ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: #313131;
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
.tab__details-container ul li p {
    font-weight: 300;
    color: #313131;
    font-size: 1.1rem;
    text-align: justify;
}

.tab__details-container ul li:last-child,
.tab__details-container ul li:nth-last-child(2) {
    align-items: flex-start;
}

.tab__details-container ul li p,
.tab__details-container ul li span,
.tab__details-container ul li a {
    font-weight: 400;
    display: block;
    line-height: 40px; /* Makes sure the <p>, <span>, and <a> tags behave as block elements */
}

.tab__details-container ul li span {
    margin-bottom: 10px; /* Add some spacing between the 'Documents' and the 'Textiles Displayed' items */
}
@media (max-width: 414px) {
    .tab__details-container ul li {
        align-items: center;
    }
}
