.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 4 columns */
    gap: 6px; /* Reduced gap for a more compact layout */
    margin: 0 auto;
    width: 70%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.Links {
    min-height: 100vh !important;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 columns on smaller screens */
    }
}

@media (max-width: 414px) {
    .grid-container {
        grid-template-columns: repeat(
            1,
            1fr
        ); /* 2 columns on smaller screens */
    }
}

.grid-container a {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 70%;
    overflow: hidden;
}

.grid-container a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.grid-container a:hover img {
    transform: scale(1.05); /* Zoom effect on hover */
}
