* {
    font-family: "Mulish", sans-serif;
}

.textile__details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.td__container {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center; /* Align items to the start */
    flex-direction: column;
    gap: 70px;
    width: 100%; /* Use the full width */
}

.modalImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modalImage img {
    height: auto;
    width: 100%; /* Make the image responsive */
    overflow: hidden;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin-top: 50px;
}

.td__item-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: "Mulish", sans-serif;
}

.td__item-title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}
.td__item-title {
    margin-bottom: 20px;
}
.td__item-title h1 {
    font-size: 40px;
}
.td__item-title h4 {
    font-size: 20px;
    color: #777777;
    font-weight: 300;
    margin: 10px 0;
}

.td__item-intro {
    line-height: 1.8;
    font-size: 20px;
    font-weight: 300;
    border-top: 1px solid #e8e8e8;
    padding-top: 25px;
    color: #777777;
    margin-bottom: 2rem;
    width: 80%;
    text-align: justify;
}

.td__item-info {
    width: 80%; /* Adjust the width as needed */
    border-collapse: collapse;
    color: #333; /* Adjust the text color as needed */
}

.td__item-info ul {
    list-style: none;
}

.td__item-info li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.td__item-info-title {
    font-weight: 700;
    width: 33%;
}

.td__item-info-value {
    max-width: 100px;
    margin: 0 20px;
    color: #777777;
}

.td__item-card {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    /* Responsive adjustments as needed for smaller screens */
    .td__container {
        width: 100%;
    }

    .td__item {
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    .td__item-title {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .td__item-card {
        display: flex;
        justify-content: center;
    }

    .modalImage img {
        margin: 2rem; /* Smaller margin on top and bottom for mobile */
    }
}
