* {
    font-family: "Mulish", sans-serif;
}

.cards__container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 500px;
    border-radius: 8px;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cards__image-container img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.cards__image-container img:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.cards__event-description {
    line-height: 1.5;
    text-align: justify;
}

.cards__btn {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    width: 45%;
    padding: 14px;
    background: #dc143c;
    border: 1px solid #dc143c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 6px;
}
.cards__btn:hover {
    background: #9e122e;
    transition: ease-in 0.1s;
}

.cards__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.cards__event-type {
    font-weight: 500;
}
.cards__event-date {
    font-weight: 500;
}
