/* //--Modal----// */

.home__about {
    position: relative;
    z-index: 1;
    margin: none;
    min-height: 100vh;
}

.modal-icon-text {
    line-height: 1 !important;
    font-size: 20px !important;
    margin: 0 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.home__about-bg img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
    height: 80vh;
    width: auto;
    margin: none;
    padding: 0;
}

/* //--Modal end----// */

@media (max-width: 768px) {
    .home__about-bg img {
        height: 40vh;
    }

    @media (max-width: 414px) {
        .home__about-bg img {
            height: 30vh;
        }
        .home__about-modal-player {
            margin: 0 60px;
        }
        .video-test {
            margin-top: 500px;
        }
    }
}
