.MuiDataGrid-container--top [role="row"] {
    background-color: #545352 !important ;
    color: white !important;
}
.css-s1v7zr-MuiDataGrid-virtualScrollerRenderZone {
    background: #ccc;
}
.css-qcqlck-MuiDataGrid-root {
    background-color: #ccc;
}

.show__button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #df0144;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.actions__container {
    display: flex;
    align-items: first baseline;
    gap: 12px;
}
.show__button:hover {
    background: #dd294d;
    transition: ease 0.1s;
}
@media (max-width: 768px) {
    .show__button {
        font-size: 12px;
        padding: 8px 10px;
        margin-right: 10px;
    }
}
@media (max-width: 414px) {
    .show__button {
        font-size: 12px;
        padding: 4px 8px;
        margin-right: 50px;
    }
}
