/* Assuming the color palette from the image */
:root {
    --primary-color: #dc143c; /* This is the color already used for icons, assuming it's the primary color */
    --text-color: #333333; /* Dark grey text */
    --subtext-color: #666666; /* Lighter grey for less important text */
    --background-color: #f9f1f1; /* Light background for event info */
    --border-color: #e0e0e0; /* Border color for boxes */
}
.event__details {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 1000px;
    background: #fff;
}

.event__details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.event__details-col-left {
    width: 700px;
}

/* Adjust image styles */
.event__details-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Event title and description styles */
.event__details-event__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #313131;
}

.event__details-event__description p {
    font-size: 1rem;
    line-height: 1.8;
    text-align: left;
    margin-top: 2rem;
    text-align: justify;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    color: #313131;
}

/* Event info box */
.event__details-event__info {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    max-width: 300px;
    height: 467px;
    padding: 20px 30px;
}

.event__details-event__info h2 {
    color: #313131;
    font-size: 2rem; /* Adjust to match the design */
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

/* Event info list */
.event__details-event__info ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.event__details-event__info ul li {
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 8px 0;
}

.event__details-event__info-icon {
    /* Icon color and size are already set in the IconContext.Provider */
}

.event__details-event__info-content h4 {
    color: var(--text-color);
    margin: 0; /* Remove default margins if needed */
}

.event__details-event__info-content p {
    color: var(--subtext-color);
}

@media (max-width: 768px) {
    .event__details-wrapper {
        grid-template-columns: 1fr;
    }
    .event__details-event__info {
        width: auto; /* Allow the box to adjust to the column width */
        margin: 0 auto; /* Centering the box */
    }
}
/* Test */
