.collection__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    width: 70%;
    padding: 30px;
}

.sub-heading {
    font-size: 40px;
    margin: 20px 0;
}

.collection__item {
    background-color: #201b1b;
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.collection__item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s;
}

.collection__item:hover img {
    transform: scale(1.2);
}
.collection__item:hover::after {
    opacity: 0.2;
}

.collection__item-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.collection__item:hover .collection__item-view {
    opacity: 1;
}

.collection__item-view h3 {
    transition: transform 0.2s ease-in-out;
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.collection__item-desc {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    padding: 20px 10px;
    margin: 0;
    color: #000;
    background-color: #e4e4e4;
}
.collection__item-desc h2 {
    /* font-family: "Mulish", sans-serif; */
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
}

/* Media Queries */

@media (max-width: 992px) {
    .collection__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        width: 70%;
        padding: 30px;
    }
    .collection__item img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        transition: 0.5s;
    }
    .test h3 q {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #f4f4f4;
        font-size: 30px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: left;
    }
}
@media (max-width: 768px) {
    .collection__wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        width: 70%;
        padding: 30px;
    }
    .collection__item img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        transition: 0.5s;
    }
    .test h3 q {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #f4f4f4;
        font-size: 20px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: left;
    }
}
