.collection__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    width: 70%;
    padding: 30px;
}

.sub-heading {
    font-size: 40px;
    margin: 20px 0;
}

.collection__item {
    background-color: #201b1b;
    height: 360px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.collection__item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s;
}

.collection__item:hover img {
    transform: scale(1.2);
}
.collection__item:hover::after {
    opacity: 0.2;
}

.collection__item-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.collection__item:hover .collection__item-view {
    opacity: 1;
}

.collection__item-view h3 {
    transition: transform 0.2s ease-in-out;
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.collection__item-desc {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    background: #cb013e;
    padding: 20px;
    margin: 0;
    color: #f4f4f4;
}
.collection__item-desc h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 26px;
}
