:root {
    --primary: #e30143;
    --secondary: #cb9a58;
}

.nav-logo {
    margin: 6px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 0px 20px 0px 0px;
}
#navbar {
    font-weight: 500;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: #313131;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Mulish", sans-serif;
}

#navbar .menu {
    display: none;
    position: fixed;
    top: -5rem;
    right: 0.75rem;
    z-index: 1000;
}
.menu-icon {
    color: rgb(19, 16, 16);
    font-size: 2rem;
    cursor: pointer;
}
.close-icon {
    color: rgb(19, 16, 16);
    font-size: 2rem;
    cursor: pointer;
}

.nav_link {
    position: relative;
}
.nav_link::after {
    content: "";
    height: 2px;
    width: 40%;
    background: var(--primary);
    display: block;
    position: absolute;
    left: 10%;
    bottom: 3px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav_link:hover::after,
.nav_link:focus::after {
    opacity: 1;
}

.nav_link.active::after {
    opacity: 1;
}

.nav_link:hover,
.nav_link:focus {
    color: #000;
}

.nav_log {
    background: none;
    padding: 10px 14px !important;
    border: 1px solid var(--primary);
    cursor: pointer;
    margin-top: 0px !important;
}
.nav_log:hover {
    background-color: var(--primary);
    color: white;
}

.nav_icon p {
    margin-right: 5px;
}

.login_link {
    display: none;
}
.menu {
    border: none;
    background: none;
}

@media (max-width: 1080px) {
    #navbar .menu {
        display: flex;
        position: fixed;
        right: 0.75rem;
        top: 1.5rem;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -200px;
        width: 200px;
        height: 100vh;
        background: #dc143c;
        box-sizing: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        margin-top: 6px;
        transition: ease-in-out 0.3s;
    }
    #navbar.active {
        right: 0;
    }

    #navbar ul {
        flex-direction: column;
    }

    #navbar ul li {
        width: 100%;
        padding: 0.5rem;
    }
    #navbar ul li a {
        color: #f4f4f4 !important;
        font-weight: 300;
    }

    .nav_log {
        display: none !important;
    }

    .nav_link::after {
        background-color: antiquewhite;
    }

    ul li .login_link:hover {
        transform: scale(0.99);
        transition: ease 0.3ss;
    }

    .login_link {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 8px;
    }

    .login_link p {
        font-size: 16px;
    }

    .right-section {
        display: none;
    }
}
@media (max-width: 768px) {
    #navbar.menu {
        display: flex;
        position: fixed;
        right: 1rem;
        top: 1.5rem;
    }
}
@media (max-width: 414px) {
    .menu {
        display: flex;
        position: fixed;
        right: 1rem;
        top: 1.5rem;
        margin-right: 28px;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -200px;
        max-width: 200px;
        height: 100vh;
        background: #dc143c;
        box-sizing: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        margin-top: px;
        transition: ease-in-out 0.3s;
    }
    #navbar.active {
        right: 0;
    }
}
