.event__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    display: flex;
}

.events__header-img {
    quotes: none;
    position: relative;
}

.eventHeader__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .event__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 414px) {
    .event__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
