* {
    font-family: "Mulish", sans-serif;
}

.event-details {
    width: 100%;
    padding: 60px 0;
    margin: 0 10%;
}

.wrapper {
    display: flex;
    justify-content: center;

    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.col-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 50%;
}

.image img {
    height: 600px;
    border-radius: 6px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.event-title h1 {
    font-size: 50px;
    margin: 20px 0;
}

.event-description p {
    line-height: 1.8;
    font-size: 18px;
    width: 80%;
    text-align: justify;
}

.col-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
    flex-basis: 50%;
}

.info-details .title {
    font-size: 30px;
    padding: 10px 0 0 30px;
}

.event__info {
    width: 400px;
    background-color: #f9f1f1;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
    padding: 16px;
}

.event__info h2 {
    margin-bottom: 24px;
    color: #333333;
    font-size: 30px;
}

.event__info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: centers;
}

.event__info ul li {
    display: flex;
    margin-bottom: 26px;
}

.event__info-icon {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.event__info-content h4 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.event__info-content p {
    color: #666666;
    font-size: 17px;
}

.event__location h2 {
    font-size: 30px;
    margin: 20px 0;
}

.upcoming__event {
    display: flex;
    max-width: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.image__wrapper {
    width: 200px;
    margin: 6px;
}

.upcoming__event-title {
    margin-top: 20px;
    font-size: 20px;
}

.upcoming__event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcoming__event-details {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.upcoming__event-details h2 {
    font-size: 16px;
}

.upcoming__event-details-icons {
    display: flex;
    margin-top: 20px;
}
.upcoming__event-location {
    padding-right: 12px;
}

/* form styles */
.container {
    margin-top: 30px;
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .gender-box {
    margin-top: 20px;
}
.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender {
    column-gap: 5px;
}
.gender input {
    accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
    cursor: pointer;
}
.gender label {
    color: #707070;
}
.address :where(input, .select-box) {
    margin-top: 15px;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #dc143c;
}
.form button:hover {
    background: #a61733;
}
/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}
