* {
    font-family: "Mulish", sans-serif;
}

:root {
    --primary: #dc143c;

    --footbg: #3a3335;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--footbg);
    padding-top: 50px;
}

footer img {
    height: 100px;
}

.footer__container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.footer__widget {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__widget_desc {
    color: #888;
    line-height: 1.5;
    padding-left: 20px;
}

.footer__links-title {
    font-size: 20px;
    font-weight: 600;
    color: #bbb;
}

.footer__links li {
    list-style: none;
    margin: 10px 0;
}

.footer__links li a:hover {
    color: #bbb;
}

.footer__links a {
    text-decoration: none;
}

.footer__links li a {
    font-size: 18px;
    color: #888;
    font-weight: 300;
}

.footer__widget-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    background-color: var(--footbg);
}

.social-icon {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: #dc143c;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.3 ease;
}

.social-icon:hover {
    background-color: #dd294d;
    transition: ease.1s;
}

.footer__copy {
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #504f4f;
    max-width: 1320px;
}
.copy {
    justify-content: center;
    text-align: center;
    color: #888;
    font-size: 14px;
    padding: 10px;
    background-color: var(--footbg);
}

/* Adjustments for devices with a maximum width of 992px */
@media (max-width: 992px) {
    .footer__container {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .footer__links li a {
        font-size: 16px;
    }
    .footer__widget,
    .footer__links {
        width: 80%;
        margin: 0px 10px;
        text-align: left;
    }

    .footer__links ul {
        padding: 0;
    }

    .footer__links li {
        margin: 5px 15px; /* Adjust the margin as necessary */
    }
    .footer__copy {
        padding-top: 10px;
        width: 100%;
    }
    .footer__widget-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
        background-color: var(--footbg);
    }
}

/* Adjustments for devices with a maximum width of 768px */
@media (max-width: 768px) {
    .footer__container {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .footer__links li a {
        font-size: 16px;
    }
    .footer__widget,
    .footer__links {
        width: 80%;
        margin: 0px 10px;
        text-align: left;
    }

    .footer__links ul {
        padding: 0;
    }

    .footer__links li {
        margin: 5px 10px; /* Adjust the margin as necessary */
    }
    .footer__copy {
        padding-top: 10px;
        width: 100%;
    }
    .footer__widget-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
        background-color: var(--footbg);
    }
}

/* Additional media query for smaller devices, such as phones */
@media (max-width: 576px) {
    .footer__container {
        flex-wrap: wrap;
    }
    .footer__widget,
    .footer__links {
        width: 80%;
        margin-bottom: 20px; /* Adds space between stacked elements */
    }

    .footer__links ul {
        padding: 0; /* Remove padding if any */
    }

    .footer__links li {
        margin: 5px 20px; /* Adjust the margin as necessary */
    }
}
