.Dashboard {
    background-color: #f5f3f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.dashboard-chart__container {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    padding: 100px 0;
    flex-wrap: wrap;
}
.dashboard-chart1,
.dashboard-chart2,
.dashboard-chart3,
.dashboard-chart4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 6px;
    padding: 20px;
    background-color: #fff;
}

.dashboard-chart__container p {
    font-size: 24px;
    color: #777;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    padding: 10px 0;
    letter-spacing: 1px;
}

.test-form {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .Dashboard {
        min-height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .dashboard-chart__container {
        display: flex;
        justify-content: center;

        flex-direction: column;
    }
}
