.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.create-event {
    height: 100vh;
    background-color: #f5f3f4;
    padding: 50px 0;
}

.create-event__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 40px;
}

.col-1,
.col-2,
.col-3 {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 0 10px;
}

form input,
form label {
    box-sizing: border-box;
}

form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* background: #fff; */
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
    min-height: 20px;
    font-weight: bold;
}

form input[type="file"],
form input[type="time"],
form input[type="date"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    background: #fff;
}

form textarea {
    resize: vertical;
    width: 207%;
    background: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 16px;
    color: #5d657b;
    resize: none;
    transition: all 0.3s;
}

form input[type="text"] {
    width: 100%;
    padding: 18px 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #888;
}
input:focus {
    outline: 1px solid crimson;
}

.create-event__form-button {
    padding: 16px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #df0144;
    border-radius: 6px;
}

.create-event__form-button:hover {
    background: #dd294d;
    transition: ease 0.1s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-1,
    .col-2,
    .col-3 {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    form textarea {
        width: 100%;
    }
}
