.event-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #f5f4f5;
}

.logo-link img {
    height: 100px;
    margin: 30px 0;
}
.event-register__container {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.event-register__container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.event-register__container.form {
    margin-top: 30px;
}
.form .event-register__input-box {
    width: 100%;
    margin-top: 20px;
}
.event-register__input-box label {
    color: #333;
}
.form :where(.event-register__input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.event-register__input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .event-register__gender-box {
    margin-top: 20px;
}
.event-register__gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.event-register__gender-option, .event-register__gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .event-register__gender {
    column-gap: 5px;
}
.event-register__gender input {
    accent-color: rgb(130, 106, 251);
}
.form :where(.event-register__gender input, .event-register__gender label) {
    cursor: pointer;
}
.event-register__gender label {
    color: #707070;
}
.address :where(input, .select-box) {
    margin-top: 15px;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #df0144;
}

.success__message {
    border: 1px solid #fff;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    line-height: 1.5;
}

.success__message h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.return__link a {
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

.return__link:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.3s;
}
.form button:hover {
    background: #dd294d;
    transition: ease 0.1s;
}

.form__alert {
    margin: 50px 0px;
}
/*Responsive*/
@media screen and (max-width: 992px) {
    .form .column {
        flex-wrap: wrap;
        margin: 10px;
    }
    .form :where(.event-register__gender-option, .event-register__gender) {
        row-gap: 15px;
    }
}
@media screen and (max-width: 768px) {
    .event-register__container {
        max-width: 500px;
    }

    .form .column {
        flex-wrap: wrap;
        margin: 10px;
    }
    .form :where(.event-register__gender-option, .event-register__gender) {
        row-gap: 15px;
    }
}
@media screen and (max-width: 414px) {
    .event-register__container {
        max-width: 380px;
    }
    .form .column {
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .form :where(.event-register__gender-option, .event-register__gender) {
        row-gap: 15px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .event-register__gender {
        flex-direction: row;
        align-items: center;
    }
}
